.todoItem {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0.7%;
  align-items: center;
}

.todo-text > i {
  margin-right: 1%;
}

.todoItem input {
  padding: 1%;
}

.todo-text {
  display: flex;
  flex: 1;
}

.todo-text > input:focus {
  outline: none;
  border: none;
}
